@use'../custom'as*;
@use'../components/mixins'as*;

.menu {
    @include gradient;

    .brand{
        color: $white;
        font-weight: 600;
        text-transform: uppercase;
    }

    li{
        padding: 0 0.7rem;
        a{
            text-transform: capitalize;
            font-weight: 600;
            color: $white;
        }
    }
}
